h1 {
  font-size: 55px;
  color: black;
}

h2 {
  font-size: 40px;
  color: black;
}

h3 {
  font-size: 22px;
  color: black;
}

p {
  font-size: 15px;
  color: gray;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}
@media (max-width: 786px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
@media (max-width: 512px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
}
@media (max-width: 300px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 11px;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-top {
  position: fixed;
  width: 40px;
  height: 40px;
  font-size: 25px;
  bottom: 20px;
  right: 20px;
  background: #a9ff2c;
  border-radius: 50%;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}

.show__back-top {
  display: flex;
}

body {
  background-color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  padding: 25px 0;
  z-index: 999;
}

.header__nav {
  border-bottom: 1px solid rgb(184, 184, 184);
}

.show__header__shrink {
  padding: 15px 0;
  box-shadow: 0px 0px 10px #a9ff2c;
  background: white;
}

.header__nav__logo {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.header__nav__right__btns__contact {
  padding: 6px 13px;
  border: 2px solid black;
  background-color: black;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  color: white;
}

.header__nav__right__btns__contact:hover {
  background: white;
  color: black;
}

@media (max-width: 500px) {
  .header__nav__right__btns__contact {
    display: none;
  }
}
#hero {
  padding-top: 100px;
  position: relative;
  overflow: hidden;
}

.hero__desc {
  position: absolute;
  top: 80px;
  padding: 20px;
  left: 20px;
  color: white;
  width: 50%;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.hero__title {
  color: white;
  position: absolute;
  left: 80px;
  width: 30%;
  bottom: 20px;
}

@media (max-width: 500px) {
  .hero__title {
    display: none;
  }
}
@media (max-width: 1200px) {
  .hero__desc {
    width: 100%;
    font-size: 30px;
  }
  .hero__title {
    width: 100%;
    font-size: 20px;
  }
}
.covid {
  padding: 80px 0px;
}

.covid__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  align-items: center;
}

.covid__card img {
  text-align: center;
  width: 25%;
}

.covid__card__title {
  text-align: center;
}

.covid__card__desc {
  text-align: center;
  display: -webkit-box;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.covid__cards {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

@media (max-width: 990px) {
  .covid__cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.qr {
  width: 100%;
  padding: 30px 50px;
  border-radius: 20px;
  background: #a9ff2c;
}

.qr__desc {
  display: -webkit-box;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

.smartphone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 80px 0px;
}

.smartphone__card {
  padding: 20px 30px;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.smartphone__card img {
  width: 50%;
}

.smartphone__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 2fr);
  gap: 50px;
}

.phone__desc {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@media (max-width: 800px) {
  .smartphone__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 2fr);
  }
}
.smartphone__desc {
  width: 60%;
  display: -webkit-box;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

@media (max-width: 700px) {
  .smartphone__desc {
    width: 90%;
  }
}
.laptops {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 80px 0px;
}

.laptop__card img {
  width: 100%;
  border-radius: 20px;
}

.laptop__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 50px;
}

.laptop__card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
}

.laptop__card__desc {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@media (max-width: 800px) {
  .laptop__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 2fr);
  }
}
.dostup {
  width: 100%;
  padding: 60px 0px 60px 40px;
  margin-top: 80px;
  background: rgb(212, 212, 212);
  border-radius: 30px;
}

.dostup__left,
.dostup__right {
  width: 45%;
}

.dostup__left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.dostup__title {
  text-align: center;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.dostup__desc {
  text-align: center;
  display: -webkit-box;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

@media (max-width: 700px) {
  .dostup {
    flex-wrap: wrap;
  }
  .dostup__left,
  .dostup__right {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .dostup {
    padding-right: 40px;
  }
  .dostup__left,
  .dostup__right {
    width: 100%;
  }
}